leaflet/images/markers*
leaflet/images/pin*
leaflet/css/images/
leaflet/css/leaflet.awesome-markers.cs
leaflet/css/leaflet.label.css
CV/Candidatures/
.bundle
vendor
*.bak
*.swp
*.log
*/test*
Gemfile*
leaflet/lib
_plugins/
_site/
