<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="skills">{{ site.skills }}</span>
                    <br>
                    <span>
                        <ul class="list-inline-social">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fab fa-{{ network.title }} fa-2x"></i></a>
                            </li>
                            {% endfor %}

                            {% for network in site.socialpic %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fab fa-{{ network.title }} fa-2x"></i></a>
                            </li>
                            {% endfor %}

                            {% for network in site.socialclosed %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-social-closed btn-outline"><i class="fab fa-{{ network.title }} fa-2x"></i></a>
                            </li>
                            {% endfor %}

                            {% for network in site.academic %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline" ><i class="ai ai-{{ network.title }} ai-2x" aria-hidden="true"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
