<div id="map"></div>
<script type="text/javascript" src="./data/CanariasMunicipiosHab.geojson"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.3/Control.FullScreen.min.js"></script>
<script>

  var map = L.map('map',
            {
            fullscreenControl: true,
            }
          ).setView([28.5, -15.8], 7);


  map.createPane('labels');
  map.getPane('labels').style.zIndex = 650;
  map.getPane('labels').style.pointerEvents = 'none';

  var dataattribution = ' | Population data: <a href="http://www.ine.es/">Instituto National de Estadística</a>,' +
              ' | Municipalities limits: <a href="http://centrodedescargas.cnig.es">Centro National de Información Geográfica</a>'

  var Esri_OceanBasemap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Sources: GEBCO, NOAA, CHS, OSU, UNH, CSUMB, National Geographic, DeLorme, NAVTEQ, and Esri' + dataattribution,
    maxZoom: 13
  }).addTo(map);

  // control that shows state info on hover
  var info = L.control();

  info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

  info.update = function (props) {
    this._div.innerHTML = (props ?
      '<h4>' + props.NAMEUNIT + '</h4> ' + props.hab + ' habitants'
      : '<h4> Select a location </h4>' + 'Total habitants: 2101924');
  };

  info.addTo(map);

  var geojson;

  function getColor(d) {
    return d > 100000 ? '#0868ac' :
         d > 50000  ? '#43a2ca' :
         d > 20000  ? '#7bccc4' :
         d > 10000  ? '#a8ddb5' :
         d > 5000   ? '#ccebc5' :
                '#f0f9e8' ;
  }

  function style(feature) {
    return {
      fillColor: getColor(feature.properties.hab),
      weight: .5,
      opacity: 1,
      color: 'black',
      dashArray: '0',
      fillOpacity: 0.6
    };
  }

  function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
      weight: 5,
      color: '#666',
      dashArray: '',
      fillOpacity: 0.2
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
      layer.bringToFront();
    }

    info.update(layer.feature.properties);
  }

  function resetHighlight(e) {
    geojson.resetStyle(e.target);
    info.update();
  }

  function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
  }


  function onEachFeature(feature, layer) {
    layer.on({
      mouseover: highlightFeature,
      mouseout: resetHighlight,
      click: zoomToFeature
    });
  }

  geojson = L.geoJson(municipios, {
    style: style,
    onEachFeature: onEachFeature
  }).addTo(map);


  var legend = L.control({position: 'bottomright'});
  legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend'),
      grades = [0, 5000, 10000, 20000, 50000, 100000],
      labels = [],
      from, to;

    //for (var i = 0; i < grades.length; i++) {
    for (var i = grades.length-1; i >= 0; i--) {
      from = grades[i];
      to = grades[i + 1];

      labels.push(
        '<i style="background:' + getColor(from + 1) + '"></i> ' +
        from + (to ? '&ndash;' + to : '+'));
    }

    div.innerHTML = labels.join('<br>');
    return div;
  };

  legend.addTo(map);

</script>
