---
---

h1, h2 { color: #{{ site.color.secondary-dark }} ; }
h3, h4, h5, h6 { color: #{{ site.color.link }} ; }

body { color: #{{ site.color.primary }} ; }

blogsection { width: 100%; float: left; padding-bottom: 50px; color: #16253D ; }

a { color: #{{ site.color.secondary-dark }} ; text-decoration: none; }

.imagelogo
{
float:left;
width:75px;
margin:5px 10px 10px 0px;
}
