h1, h2 {
  color: #FBA100; }

h3, h4, h5, h6 {
  color: #6D648B; }

body {
  color: #1D2731; }

blogsection {
  width: 100%;
  float: left;
  padding-bottom: 50px;
  color: #16253D; }

a {
  color: #FBA100;
  text-decoration: none; }

.imagelogo {
  float: left;
  width: 75px;
  margin: 5px 10px 10px 0px; }
