h1, h2 {
  color: #919191; }

h3, h4, h5, h6 {
  color: #3BA647; }

body {
  color: #16253D; }

blogsection {
  width: 100%;
  float: left;
  padding-bottom: 50px;
  color: #16253D; }

a {
  color: #1483D3;
  text-decoration: none; }

.imagelogo {
  float: left;
  width: 75px;
  margin: 5px 10px 10px 0px; }
